.pagination .href2 {

    margin-right: 10px;
    color: blue;
    font-weight: bold;
}


.pagination .href1 {

    margin-right: 10px;
    color: red;
    font-weight: bold;

}




.pagination {

    margin-top: 10px;
    margin-bottom: -10px;
    
}


a .raquo {

margin-right: 10px;

}




